@import "tailwindcss";

body {
  background-color: #010101;
  color: #ffffff;
}

/* Custom variables for our theme */
:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --primary: 184 100% 49%;
  --primary-foreground: 0 0% 100%;
  --secondary: 343 100% 49%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 67%;
  --muted-foreground: 0 0% 67%;
}
